[Unit]
#
# PLEASE RENAME THIS FILE TO THE NAME OF YOUR SERVICE
#
# https://linuxconfig.org/how-to-create-systemd-service-unit-in-linux
# https://www.raspberrypi.org/documentation/linux/usage/systemd.md
#
# COMMANDS
# sudo systemctl start {{ service_name }}.service
# sudo systemctl stop {{ service_name }}.service
# autostart
# sudo systemctl enable {{ service_name }}.service
#
Description={{ service_name }}
Documentation={{ repo_link }}
Wants=network-online.target
After=network-online.target

[Service]
PermissionsStartOnly=true

ExecStart=/usr/bin/python3 server.py
WorkingDirectory=/home/pi/src/server


# restart settings
StartLimitBurst=5
# Disabled because raspian doesn't recognise command...
# This is normally used to stop a start/loop/timeout problem
# StartLimitIntervalSec=10
RestartSec=3
Restart=always

StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop Minio
KillSignal=SIGTERM

SendSIGKILL=no

SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
